In [10]:
from pykrx import stock
from pykrx import bond

In [43]:
df = stock.get_market_cap("20100104")
top_10 = df['시가총액'].sort_values(ascending=False)[:10]
top_10_ticker = top_10.index.tolist()

In [44]:
top_10.head()

티커
005930    119165163633000
005490     53358343020000
005380     26212901001000
105560     22949290564200
015760     21973694136000
Name: 시가총액, dtype: int64

In [49]:
top_10_ticker

['005930',
 '005490',
 '005380',
 '105560',
 '015760',
 '055550',
 '066570',
 '012330',
 '034220',
 '051910']

In [64]:
import FinanceDataReader as fdr

df = fdr.DataReader('215600', '2018')
df.head(10)

             Open   High    Low  Close    Volume    Change
Date
2018-01-02  66416  72026  64616  70988   9853675  0.096255
2018-01-03  71056  72649  68909  71334   6873248  0.004874
2018-01-04  71056  72026  63854  63854   9441270 -0.104859
2018-01-05  59421  70087  59352  69256  12011014  0.084599
2018-01-08  67871  68148  64061  64962   9172863 -0.062002
2018-01-09  66832  82553  64962  75489  18388104  0.162049
2018-01-10  72719  74311  67732  67871   9513079 -0.100915
2018-01-11  67594  69671  65931  66971   5942264 -0.013260
2018-01-12  69117  71541  67247  67940   9828140  0.014469
2018-01-15  70225  74450  68563  71957  10552300  0.059126

In [65]:
for ticker in top_10_ticker:
    ohlcv_data = fdr.DataReader(ticker, "20100104", "20110104")
    # change_data = ohlcv_data[ohlcv_data['티커'] == ticker]
    print(ohlcv_data.head())
    break

             Open   High    Low  Close  Volume    Change
Date
2010-01-04  16060  16180  16000  16180  239271  0.012516
2010-01-05  16520  16580  16300  16440  559219  0.016069
2010-01-06  16580  16820  16520  16820  459755  0.023114
2010-01-07  16820  16820  16260  16260  443237 -0.033294
2010-01-08  16400  16420  16120  16420  295798  0.009840