In [1]:
import pandas as pd
from pykrx import stock

In [25]:
kodex200_ticker = "069500"

years = range(2013, 2023)

data_frames = []
for year in years:
    start_date = f"{year}-01-04"
    end_date = f"{year+1}-01-04"

    ohlcv_data = stock.get_etf_ohlcv_by_date(start_date, end_date, kodex200_ticker, 'd')

    deviation = stock.get_etf_price_deviation(start_date, end_date, kodex200_ticker)
    deviation = deviation['괴리율']

    error = stock.get_etf_tracking_error(start_date, end_date, kodex200_ticker)
    error = error['추적오차율']

    feature_df = pd.concat([ohlcv_data, deviation], axis = 1)
    feature_df = pd.concat([feature_df, error], axis =1)
    data_frames.append(feature_df)

combined_df = pd.concat(data_frames)
combined_df.drop(['기초지수', '거래대금'], axis=1, inplace=True)
combined_df.head()

                 NAV     시가     고가     저가     종가      거래량   괴리율  추적오차율
날짜
2013-01-04  26950.53  27060  27080  26825  26870  5112298 -0.30  -0.01
2013-01-07  26927.29  26895  26930  26685  26885  4449424 -0.16  -0.03
2013-01-08  26719.95  26755  26860  26600  26600  3925874 -0.45  -0.01
2013-01-09  26608.77  26655  26765  26490  26500  4889353 -0.41  -0.02
2013-01-10  26812.66  26545  26800  26440  26735  5232167 -0.29  -0.01

In [22]:
combined_df.tail()

,NAV,시가,고가,저가,종가,거래량,거래대금,기초지수,괴리율,추적오차율
날짜,,,,,,,,,,
2023-05-16,32634.14,32720,32835,32535,32600,5661588,184799898765,325.31,-0.10,0.55
2023-05-17,32764.62,32540,32805,32530,32705,4019257,131544581365,326.61,-0.18,0.55
2023-05-18,33088.40,32905,33040,32815,33020,4944113,163261974235,329.84,-0.21,0.55
2023-05-19,33528.85,33260,33505,33260,33485,5211634,174403754495,334.23,-0.13,0.55
2023-05-22,33732.83,33485,33840,33425,33700,3957548,133445816025,336.26,-0.10,0.00

In [24]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2562 entries, 2013-01-04 to 2023-05-22
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAV     2562 non-null   float64
 1   시가      2562 non-null   uint32
 2   고가      2562 non-null   uint32
 3   저가      2562 non-null   uint32
 4   종가      2562 non-null   uint32
 5   거래량     2562 non-null   uint64
 6   괴리율     2562 non-null   float32
 7   추적오차율   2562 non-null   float32
dtypes: float32(2), float64(1), uint32(4), uint64(1)
memory usage: 120.1 KB

In [26]:
combined_df.to_csv("./Data/kodex200_data.csv")